.tag-1, .tag-1:hover {
    background: #001f3f;
    color: hsla(210, 100%, 75%, 1.0);
}
.tag-2, .tag-2:hover {
    background: #0074d9;
    color: hsla(210, 100%, 85%, 1.0);
}
.tag-3, .tag-3:hover {
    background: #7fdbff;
    color: hsla(197, 100%, 20%, 1.0);
}
.tag-4, .tag-4:hover {
    background: #39cccc;
}
